<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
.center {
  text-align: center;
}
body {
            background: #fcfcfc;
}
.redP::first-letter {
color: red;
}
</style>
</head>
<body>
    {{> menu}}

    {{{body}}}

    {{> footer}}
</body>
</html>